body,
html {
	background: url("images/login_bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
	overflow: hidden;
}

.cover-container {
	height: 100vh;
}

#login {
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	width: 70%;
}

#error_msg {
	display: none;
	text-align: center;
}

a:hover {
	color: #3395ff;
	text-decoration: none;
}

// html {
// 	background: url("images/login_bg2.jpg") no-repeat !important;
// 	/* Full height */
//     height: 100% !important;

// 	/* Center and scale the image nicely */
// 	background-repeat: no-repeat;
// 	background-size: cover !important;
// }
