.card {
	margin: 10px;
}

.bold {
	font-weight: 700;
}
.padding-bottom-7 {
	padding-bottom: 7px;
}

.card:hover {
	box-shadow: 5px 4px 9px 7px rgba(0, 0, 0, 0.15);
}

.btn-grey {
	background-color: #d8d8d8;
	color: #fff;
}
.rating-block {
	background-color: #fafafa;
	border: 1px solid #efefef;
	padding: 15px 15px 20px 15px;
	border-radius: 3px;
}

.review-block {
	background-color: #fafafa;
	border: 1px solid #efefef;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}
.review-block-name {
	font-size: 12px;
	margin: 10px 0;
}
.review-block-date {
	font-size: 12px;
}
.review-block-rate {
	font-size: 13px;
	margin-bottom: 15px;
}
.review-block-title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}
.review-block-description {
	font-size: 13px;
}

#filterDiv {
	@media (min-width: 576px) {
	}

	@media (min-width: 1200px) {
		position: fixed;
		overflow: hidden;
		z-index: 99;
	}
}
